<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true" internalLogLevel="info" internalLogFile="${basedir}/_trace/CoTuong-internal.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/_trace/CoCaro-all-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="${basedir}/_trace/CoCaro-own-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|" />

    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${level:truncate=4:lowercase=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

    <!-- Customs -->
    <target name="infoLog" xsi:type="AsyncWrapper" queueLimit="5000">
      <target xsi:type="File" fileName="${basedir}/_trace/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" archiveAboveSize="102400000" maxArchiveFiles="19" archiveFileName="${basedir}/archives/${shortdate}_cb_{##}.log" archiveNumbering="Sequence" encoding="utf-8" />
    </target>

    <target name="errorLog" xsi:type="AsyncWrapper" queueLimit="5000">
      <target xsi:type="File" fileName="${basedir}/_trace/${shortdate}_error.log" layout="${longdate} ${uppercase:${level}} ${message}" archiveAboveSize="102400000" maxArchiveFiles="19" archiveFileName="${basedir}/archives/${shortdate}_cb_error_{##}.log" archiveNumbering="Sequence" encoding="utf-8" />
    </target>

    <target name="authenLog" xsi:type="AsyncWrapper" queueLimit="5000">
      <target xsi:type="File" fileName="${basedir}/_trace/${shortdate}_Authen.log" layout="${longdate} ${uppercase:${level}} ${message}" archiveAboveSize="102400000" archiveFileName="${basedir}/archives/${shortdate}_cbAuthen_{##}.log" encoding="utf-8" />
    </target>

    <target name="Tracking" xsi:type="AsyncWrapper" queueLimit="5000">
      <target xsi:type="File" fileName="${basedir}/_trace/${shortdate}_Traking.log" layout="${longdate} ${uppercase:${level}} ${message}" archiveAboveSize="102400000" archiveFileName="${basedir}/archives/${shortdate}_cbTraking_{##}.log" encoding="utf-8" />
    </target>

    <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${uppercase:${level}} ${message}" />
    <!-- End Customs -->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <!-- <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="allfile" /> -->

    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole -->

    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />

    <logger name="Trace" minlevel="Trace" writeTo="infoLog, console" />
    <logger name="TraceError" minlevel="Trace" writeTo="errorLog, console" />
    <logger name="Authen" minlevel="Trace" writeTo="authenLog, console" />
  </rules>
</nlog>
